<div id="<%= dom_id doctor %>">
  <p>
    <strong>Full name:</strong>
    <%= doctor.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= doctor.gender.name_gender %>
  </p>

  <p>
    <strong>Spec:</strong>
    <%= doctor.spec.name_spec %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department.name_depart %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= doctor.category.category_name %>
  </p>

  <p>
    <strong>Start working date:</strong>
    <%= doctor.start_working_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= doctor.rating %>
  </p>

</div>
