<body>
  <div class="doctor-form-container">
    <div id="<%= dom_id doctor %>">
        <div class="avatar-container">
          <% if doctor.avatar.attached? %>
            <%= image_tag doctor.avatar %>
          <% else %>
            <%= image_tag "monkey.jpeg" %>
          <% end %>
        </div>

        <p>
          <strong>Full name:</strong>
          <%= doctor.full_name %>
        </p>

          <p>
            <strong>Specialization:</strong>
            <%= doctor.spec.name_spec %>
          </p>

          <p>
            <strong>Category:</strong>
            <%= doctor.category.category_name %>
          </p>

          <p>
            <strong>Sex:</strong>
            <%= doctor.gender.name_gender %>
          </p>

          <p>
            <strong>Work experience:</strong>
            <%= doctor.experience_years %>
          </p>

          <p>
            <strong>Rating:</strong>
            <%= doctor.rating %>
          </p>

      </div>
    </div>
</body>