<body>
<div class="container gap-container">
  <div class="container card <%= 'status-canceled' if doctor.status == 'inactive' %>">
    <div id="<%= dom_id doctor %>">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p>
          <strong>Full name:</strong>
          <%= doctor.full_name %>
        </p></li>
        <li class="list-group-item"><p>
          <strong>Sex:</strong>
          <%= doctor.gender.name_gender %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Specialization:</strong>
          <%= doctor.spec.name_spec %>
        </p></li>
        <li class="list-group-item"><p>
          <strong>Category:</strong>
          <%= doctor.category.category_name %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Work experience:</strong>
          <%= doctor.experience_years %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Rating:</strong>
          <%= doctor.rating %>
        </p></li>
      </ul>
    </div>
  </div>
</div>
</body>