<div id="<%= dom_id doctor %>">
  <p>
    <strong>Full name:</strong>
    <%= doctor.full_name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= doctor.gender.name_gender %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.spec.name_spec %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= doctor.category.category_name %>
  </p>

  <p>
    <strong>Work experience:</strong>
    <%= doctor.experience_years %>
  </p>


  <p>
    <strong>Rating:</strong>
    <%= doctor.rating %>
  </p>

</div>
