<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand text-center">
      <img src="/pngwing.com.png" alt="Logo" width="30" height="30">
      MonkeyClinic
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title login-title" id="offcanvasNavbarLabel"> <%= link_to current_patient.full_name, patient_path(current_patient), style: "color: #7eaa57;" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-column indented-paragraph">
        <form action="<%= patients_appointments_path %>" method="get" class="mb-3">
          <button type="submit" class="btn btn-all">My Appointments</button>
        </form>
        <form action="<%= patient_analyses_path %>" method="get" class="mb-3">
          <button type="submit" class="btn btn-all">My Analyses</button>
        </form>
        <form action="<%= edit_patient_path(current_patient) %>" method="get" class="mb-3">
          <button type="submit" class="btn btn-all">Settings</button>
        </form>
        <form action="<%= patients_doctors_path %>" method="get">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for doctor" aria-label="Search" id="specialty" name="specialty">
            <button class="btn btn-monkey" type="submit">Search</button>
          </div>
        </form>
        <%= button_to 'Logout', destroy_patient_session_path, method: :delete,  class: "btn btn-monkey mb-2" %>
      </div>
    </div>
  </div>
</nav>

<div class="gap-container">
  <div class="card" style="width: 40rem;">
    <img src="/monkey_2.jpg" class="card-img-top" alt="..." width="200" height="150">
    <div id="<%= dom_id doctor %>">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p>
          <strong>Full name:</strong>
          <%= doctor.full_name %>
        </p></li>
        <li class="list-group-item"><p>
          <strong>Sex:</strong>
          <%= doctor.gender.name_gender %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Specialization:</strong>
          <%= doctor.spec.name_spec %>
        </p></li>
        <li class="list-group-item"><p>
          <strong>Category:</strong>
          <%= doctor.category.category_name %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Work experience:</strong>
          <%= doctor.experience_years %>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Rating:</strong>
          <%= doctor.rating %>
        </p></li>
      </ul>
    </div>
  </div>
</div>
