<div id="<%= dom_id appointment %>">
  <h2 class="text-container">Appointment</h2>
  <div class="appointment-container">
    <p>
      <strong>Doctor:</strong>
      <%= Doctor.find(appointment.doctor_id).full_name %>
    </p>

    <p>
      <strong>Patient:</strong>
      <%= link_to Patient.find(OutpatientCard.find(appointment.outpatient_card_id).patient_id).full_name, doctors_patient_path(OutpatientCard.find(appointment.outpatient_card_id).patient_id), style: "color: #7eaa57;" %>
    </p>
  </div>

  <p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= appointment.report %>
  </p>

</div>