<h1>Finishing appointment</h1>

<%= form_for(@appointment, url: doctors_appointment_path(@appointment)) do |f| %>
  <div>
    <%= f.label :report %>
    <%= f.text_area :report %>
  </div>

  <h3> Additionally: analyses </h3>

  <div>
    <% Analysis.all.each do |analysis| %>
      <%= check_box_tag "appointment[analysis_ids][]", analysis.id %>
      <%= analysis.name_analysis %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Finish Appointment" %>
  </div>

  <div class="actions">
    <%= f.submit "Cancel Appointment" %>
  </div>
<% end %>

<div>
  <%= link_to "Back to home page", doctor_root_path %>
</div>
