<%= form_with(model: unavailable_date) do |form| %>
  <% if unavailable_date.try(:errors).try(:any?) %>
    <div style="color: red">
      <h2><%= pluralize(unavailable_date.errors.count, "error") %> prohibited this unavailable date from being saved:</h2>

      <ul>
        <% unavailable_date.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :leave_type, style: "display: block" %>
    <%= form.select :leave_type, options_for_select(UnavailableDate.leave_types.keys.map { |k| [k.humanize.capitalize, k] }), {}, class: "form-control" %>
  </div>

  <div>
    <%= form.hidden_field :doctor_id, value: current_doctor.id %>
  </div>

  <div class="mt-4">
    <%= form.submit "Take a vacation", class: "btn btn-monkey rounded-button", style: "background-color: #7eaa57; border-radius: 8px;" %>
  </div>
<% end %>
