<div id="<%= dom_id unavailable_date %>">
  <p>
    <strong>Start date:</strong>
    <%= unavailable_date.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= unavailable_date.end_date %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= Doctor.find(unavailable_date.doctor_id).full_name %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <% if unavailable_date.leave_type == "sick_leave" %>
      <%= "sick leave" %>
    <% else %>
      <%= "vacation" %>
    <% end %>
  </p>

</div>
