<div id="<%= dom_id unavailable_date %>">
  <p>
    <strong>Start date:</strong>
    <%= unavailable_date.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= unavailable_date.end_date %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= unavailable_date.doctor_id %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= unavailable_date.leave_type %>
  </p>

</div>
