 <div class="container card mb-2" style="width: 18rem; height: 18rem;">
    <div id="<%= dom_id patient_analysis %>">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p>
          <strong>Analysis:</strong>
          <%= patient_analysis.analysis.name_analysis%>
        </p></li>
        <li class="list-group-item"><p>
          <strong>Doctor:</strong>
          <%= patient_analysis.appointment.doctor.full_name %>
          <p><%= patient_analysis.appointment.doctor.spec.name_spec %></p>
        </p></li>
        <li class="list-group-item"> <p>
          <strong>Analysis date:</strong>
          <%= patient_analysis.analysis_date %>
        </p></li>

      </ul>
    </div>
  </div>