<%= form_with(model: declaration) do |form| %>
  <% if declaration.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(declaration.errors.count, "error") %> prohibited this declaration from being saved:</h2>

      <ul>
        <% declaration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :doctor_id, style: "display: block" %>
    <%= form.text_field :doctor_id %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
