<%= form_with(model: analysis) do |form| %>
  <% if analysis.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
        <% analysis.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name_analysis, style: "display: block" %>
    <%= form.text_field :name_analysis %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
