<!DOCTYPE html>
<html>
<head>
  <style>
      nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #f8f8f8;
          padding: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
      }
      li {
          margin-right: 10px;
      }
      a {
          text-decoration: none;
          color: #333;
      }
      .container {
          display: flex;
          flex-direction: column;
          width: 200px;
          height: 200px;
          background-color: #eee;
          padding: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .container ul {
          margin-top: 10px;
      }
  </style>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to current_doctor.full_name, doctor_path(current_doctor) %></li>
      <li><%= link_to 'Settings', edit_doctor_path(current_doctor) %></li>
      <li><%= button_to 'Logout', destroy_doctor_session_path, method: :delete %></li>
    </ul>
  </nav>
</header>
<% unavailable_dates = current_doctor.unavailable_dates.where('start_date <= ? AND end_date >= ?', Date.today, Date.today) %>
<% if unavailable_dates.any? %>
  <% if unavailable_dates.vacation.any? %>
    <h2>Вы в отпуске</h2>
  <% elsif unavailable_dates.sick_leave.any? %>
    <h2>Вы на больничном</h2>
  <% end %>
<% else %>
<main>
  <h2>Appointments for today:</h2>
  <% today_appointments = current_doctor.appointments.where(appointment_date: Date.today) %>
  <% if today_appointments.any? %>
    <h5>Patient's name | Time | Status</h5>
    <ul>
      <% today_appointments.each do |appointment| %>
        <li>
          <%= appointment.outpatient_card.patient.full_name %> <%= appointment.appointment_date %>
          <% if appointment.active? %>
            <%= link_to 'Finish', edit_appointment_path(appointment) %>
          <% elsif appointment.finished? %> Finished
          <% else %> Canceled
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>На сегодня нет приемов.</p>
  <% end %>
<% end %>
  <ul class="container ul">
    <li> <%= link_to 'Appointments For Next Days', doctor_appointments_path %></li>
    <li> <%= link_to 'Take a vacation', new_unavailable_date_path %></li>
    <li> <%= link_to 'Watch all vacations', unavailable_dates_path %></li>
  </ul>
</main>
</body>
</html>