<p style="color: green"><%= notice %></p>

<%= render @spec %>

<div>
  <%= link_to "Edit this spec", edit_spec_path(@spec) %> |
  <%= link_to "Back to specs", specs_path %>

  <%= button_to "Destroy this spec", @spec, method: :delete %>
</div>
