<div id="<%= dom_id patient %>">
  <p>
    <strong>Full name:</strong>
    <%= patient.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender_id %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= patient.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Outpatient card:</strong>
    <%= patient.outpatient_card_id %>
  </p>

</div>
