<body>

<div class="container card" style="width: 30rem;>
<div id="<%= dom_id patient %>">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p>
      <strong>Full name:</strong>
      <%= patient.full_name %>
    </p></li>
    <li class="list-group-item"><p>
      <strong>Sex:</strong>
      <%= patient.gender.name_gender %>
    </p></li>
    <li class="list-group-item"><p>
      <strong>Birth date:</strong>
      <%= patient.birth_date %>
    </p></li>
    <li class="list-group-item"><p>
      <strong>Address:</strong>
      <%= patient.address %>
    </p></li>
    <li class="list-group-item"><p>
      <strong>Phone number:</strong>
      <%= patient.phone_number %>
    </p></li>
    <li class="list-group-item"><p>
      <strong>Email:</strong>
      <%= patient.email %>
    </p></li>
  </ul>
</div>
</div>
</body>