<div id="<%= dom_id doctor %>">

  <div class="avatar-container">
    <% if doctor.avatar.attached? %>
      <%= image_tag doctor.avatar %>
    <% else %>
      <%= image_tag "monkey.jpeg" %>
    <% end %>
  </div>

  <p>
    <strong>Full name:</strong>
    <%= doctor.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= Gender.find_by(id: doctor.gender_id).name_gender %>
  </p>

  <p>
    <strong>Spec:</strong>
    <%= Spec.find_by(id: doctor.spec_id).name_spec %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= Department.find_by(id: doctor.department_id).name_depart %>
  </p>

  <p>
    <strong>Start working date:</strong>
    <%= doctor.start_working_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

</div>
