<div id="<%= dom_id doctor %>">
  <p>
    <strong>Full name:</strong>
    <%= doctor.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= doctor.gender_id %>
  </p>

  <p>
    <strong>Spec:</strong>
    <%= doctor.spec_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department_id %>
  </p>

  <p>
    <strong>Start working date:</strong>
    <%= doctor.start_working_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

</div>
