<div class="container gap-container">
  <%= form_with(model: appointment, url: patients_appointment_date_path, method: :post) do |form| %>
    <div class="mb-3">
      <%= form.label :doctor_id, style: "display: block" %>
      <% if @selected_doctor %>
        <%= form.hidden_field :doctor_id, value: @selected_doctor.id, readonly: true %>
        <div class="field mb-2 text2_container">
          <%= @selected_doctor.full_name %>
        </div>
        <div class="field mb-2">
          <%= @selected_doctor.spec.name_spec %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.hidden_field :outpatient_card_id %>
    </div>

    <div class="mb-3">
      <%= form.label :appointment_date, style: "display: block" %>
      <%= form.select :appointment_date, options_for_select(@available_dates), {}, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.hidden_field :report, readonly: true %>
    </div>

    <div class="mb-3">
      <%= form.hidden_field :status, readonly: true %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Submit', class: 'btn btn-monkey', disabled: @available_dates.empty? %>
    </div>
  <% end %>
</div>
