<%= form_with(model: appointment,url: patients_appointments_path) do |form| %>
  <div>
    <%= form.label :doctor_id, style: "display: block" %>
    <% if @selected_doctor %>
      <%= form.hidden_field :doctor_id, value: @selected_doctor.id, readonly: true %>
      <div class="field">
        <%= @selected_doctor.full_name %>
  </div>
      <div class="field">
        <%= @selected_doctor.spec.name_spec %>
      </div>
    <%end %>
  </div>

  <div>
    <%= form.hidden_field :outpatient_card_id%>
  </div>

  <%= form.label :appointment_date, style: "display: block" %>
  <%= form.select :appointment_date, options_for_select(@available_dates), {}, {class: 'form-control'} %>

  <%= form.label :appointment_time, style: "display: block" %>
  <%= form.select :app_time, options_for_select(@available_times), {}, {class: 'form-control'} %>

  <div>
    <%= form.hidden_field :report, readonly: true %>
  </div>

  <div>
    <%= form.hidden_field :status, readonly: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
