<div class="container" style="justify-content: center; align-items: center; height: 100vh;">
  <div style="margin-top: 20vh;">
<div class ="text-container ms-2">Choose Available Time</div>

<div class="container card">
<%= form_with(model: @appointment, url: patients_appointments_path) do |form| %>
  <div class="mb-3">
    <%= form.label :doctor_id, style: "display: block" %>
    <% if @selected_doctor %>
      <%= form.hidden_field :doctor_id, value: @selected_doctor.id, readonly: true %>
      <div class="field form-text-container mb-2">
        <%= @selected_doctor.full_name %>
      </div>
      <div class="field form-text-container">
        <%= @selected_doctor.spec.name_spec %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.hidden_field :outpatient_card_id %>
  </div>

  <div>
    <%= form.hidden_field :appointment_date %>
  </div>

  <div>
    <%= form.hidden_field :report, readonly: true %>
  </div>

  <div>
    <%= form.hidden_field :status, readonly: true %>
  </div>

  <%= form.label :appointment_time, style: "display: block" %>
  <%= form.select :app_time, options_for_select(@available_times.map { |t| [t.strftime('%H:%M'), t] }), {}, {class: 'form-control'} %>

  <div>
    <%= form.submit 'Create Appointment', class: "btn btn-monkey", style: "background-color: #7eaa57; border-radius: 8px;" %>

  </div>
<% end %>
</div>
</div>
</div>