<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
<div class="container ms-3 mt-3 d-flex justify-content-center align-items-center">
  <% unless @appointment.finished? || @appointment.canceled? %>
    <%= button_to "Cancel this appointment", "/patients/appointments/#{@appointment.id}", method: :delete, class: "btn btn-monkey mb-2 ms-5" %>
  <% end %>
    <% if @appointment.finished? %>
    <%= link_to "Rating", { controller: "patients/appointments", action: "update_rating", id: @appointment.id }, class: "mb-2 ms-5", style: "color: #7eaa57;" %>
<% end %>
  <%= link_to "Back to appointments", patients_appointments_path, class: "mb-2 ms-5", style: "color: #7eaa57;" %>
</div>
</div>