<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Back to appointments", patients_appointments_path %>
  <%= link_to "Rating", controller: "patients/appointments", action: "edit", id: @appointment.id %>

  <%= button_to "Cancel this appointment", "/patients/appointments/#{@appointment.id}", method: :delete %>
</div>
