<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Back to appointments", patients_appointments_path %>
  <% if @appointment.finished? %>
    <%= link_to "Rating", controller: "patients/appointments", action: "update_rating", id: @appointment.id %>
  <% end %>

  <% unless @appointment.finished? || @appointment.canceled? %>
    <%= button_to "Cancel this appointment", "/patients/appointments/#{@appointment.id}", method: :delete %>
  <% end %>
</div>
